/* General */

:root {
	--homepage-outer-margin: 10%;
	--tag-padding: 5px;
    --title-size: 4em;
    --body-font-size: 1em;
	--tally-size: 30px;
	--tally-spacing: 2px;
	--tally-row-spacing: 5px;
}

@font-face {
    font-family: 'BertholdAkzidenzGroteskBoldExtended';
    src: url('./fonts/BertholdAkzidenzGroteskBoldExtended.otf') format('opentype');
    font-weight: normal; /* Adjust as needed */
    font-style: normal; /* Adjust as needed */
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.homepage-container {
    display: flex; /* Ensures flexbox layout */
    padding-right: var(--homepage-outer-margin);
    padding-left: var(--homepage-outer-margin);
    justify-content: space-between;  
}

.sidebar, .articles-column, .tally-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Header */

h1 {
    font-size: var(--title-size);
    text-align: left;
	color: black;
}

.header-container {
    font-family: 'BertholdAkzidenzGroteskBoldExtended', serif; /* Use your uploaded font */
    display: flex;
    justify-content: space-between;
    align-items: center; /* Vertically align items */
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: var(--homepage-outer-margin);
    padding-left: var(--homepage-outer-margin);
    box-sizing: border-box;
}

#header {
    margin: 0;
}

.header-info {
    text-align: right; /* Align text to the right */
}

.header-info div {
    font-size: 1.6em; /* Slightly smaller text */
}

/* Articles Column */

.articles-column {
    display: flex;
    flex-direction: column;
    width: 60%; /* Fixed width to prevent shifting */
    min-height: 100vh; /* Set a minimum height for the column */
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    justify-content: flex-start;
}

#article-container {
    display: flex; /* Flexbox layout */
    flex-direction: column; /* Stack children vertically */
    width: 100%; /* Use the full width of the parent */
    box-sizing: border-box; /* Ensure padding is included in width calculation */
}

.article-title {
    font-size: var(--body-font-size);
    margin-top: 0;
    margin-bottom: 10px;
    text-decoration: none;
    cursor: pointer;
    color: black;
}
.article-title:hover {
	text-decoration: underline;
}

.article-content {
    display: block;
    font-size: var(--body-font-size);
    text-decoration: none;
	color: black;
}

/* Search/Tags Column */

.sidebar {
    width: 20%; /* Keeping this fixed */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.search-bar {
    margin-bottom: 10px;
}

.search-bar input[type="text"] {
    width: 90%;
    font-size: var(--body-font-size);
    font-family: serif;
}

/* change appearance of search bar */
input {
    border: 0;
    background: transparent;
}

.tags-container {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap; /* Allow the tags to wrap to the next line */
}

.tag {
    display: inline-block;
    padding: 5px 5px;
    cursor: pointer;
    text-decoration: none;
}
.tag:hover {
    text-decoration: underline; /* Underline on hover */
}

.tag-tree {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap; /* Allow the tags to wrap to the next line */
}

.tree-prefix {
    display: inline-block;
	font-family: monospace, monospace;
    text-decoration: none;
}

.tree-label {
	font-family: inherit;
}

.tree-label:hover {
	cursor: pointer;
}

/* Tally Column */

.login-button {
    margin-bottom: 10px;
    font-size: var(--body-font-size);
    font-family: serif;
    text-decoration: none;
    color: gray;
    align-items: right;
    align-self: right;
    align-content: right;
    cursor: pointer;
}

.login-button:hover {
    text-decoration: underline; /* Underline on hover */
}

.tally-column {
    width: 20%; /* Keeping this fixed */
    padding: 0; /* Remove extra padding */
    margin: 0; /* Remove any margins */
    box-sizing: border-box; /* Ensure padding doesn’t increase width */
    flex-shrink: 0; /* Prevent it from shrinking or affecting other columns */
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Center the tally marks */
	margin-left: auto;
}


.tally-mark {
	display: flex;
}


img.tally-mark {
    width: auto; /* Set a fixed width for the tally marks */
    height: var(--tally-size); /* Maintain aspect ratio */
    margin: var(--tally-spacing); /* Add some space around the marks */
}

.tally-spacer {
    display: inline-block;
    width: 10px; /* Adjust the width to control spacing between groups */
}

.tally-row {
	width: 100%;
	display: flex;
	margin-bottom: 5px;
}

/* Modal */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: black;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.close {
    color: #aaa;
    float: right;
    font-size: var(--body-font-size);
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Submission Page */

#title {
    width: 100%; /* Full width */
    padding: 10px; /* Padding inside the text box */
    font-size: 1.2em; /* Font size */
    border: 1px solid black; /* Black outline */
    border-radius: 5px; /* Rounded corners */
    transition: border-color 0.3s; /* Smooth transition for focus effect */
    outline: none; /* Remove default outline */
}

.content-block {
    margin-bottom: 15px;
    padding: 10px;
    display: flex; /* Use flex to align contents */
    align-items: center; /* Vertically center align items */
}

textarea, input[type="file"] {
    flex: 1; /* Allow text area and input to take available space */
}

/* Additional styles for the button */
.remove-btn {
    margin-left: 10px; /* Add some space between the input and the button */
    background: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

/* button {
    margin-top: 10px;
} */

/* Misc. */

button {
    border: 0;
    padding: 0;
    margin: 0;
    background: transparent;
	color: black;
}

.video-container {
    display: flex;
    justify-content: center; /* Centers the content horizontally */
    align-items: center; /* Optional: Centers content vertically */
    width: 100%; /* Full width of the container */
    max-width: 100%; /* Allows responsive behavior */
    padding: 20px; /* Optional: Add padding */
    box-sizing: border-box;
}

.video-container iframe {
    max-width: 100%;
}
