:root {
	--homepage-outer-margin: 15%;
	--tag-padding: 5px;
	--header-size: 1.5em;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

.homepage-container {
	display: flex;
	padding-right: var(--homepage-outer-margin);
	padding-left: var(--homepage-outer-margin);
}

.articles-column {
    display: flex; /* Allow children to use flex properties */
    flex-direction: column; /* Ensure the header and articles stack vertically */
    width: 60%; /* Keep this width or adjust as needed */
    padding: 20px;
    box-sizing: border-box;
    margin: 0 auto; /* Center the container horizontally */
}

h1 {
    margin-bottom: 10px;
    font-size: var(--header-size);
    text-align: left;
	color: #000;
}

.article-group {
}


.article-title {
    font-size: var(--header-size);
    margin-bottom: 10px;
    text-decoration: none;
}
.article-title:hover {
	text-decoration: underline;
}

.article-content {
    font-size: 1em;
    text-decoration: none;
	color: #000;
}

.article-preview {
    margin-bottom: 20px;
    padding: 15px;
    text-decoration: none;
}

.article-preview a {
    display: block;
    text-decoration: none;
	color: blue;
}


.sidebar {
    width: 7.5%;
    display: inline-block;
    flex-direction: column;
	position: fixed;
}

.search-bar {
    margin-top: 20px;
}

.search-bar input[type="text"] {
    width: 90%;
}

/* change appearance of search bar */
input {
    border: 0;
    background: transparent;
}

/* change appearance of button */
button {
    border: 0;
    padding: 0;
    margin: 0;
    background: transparent;
	color: #0000ff;
}

.tags {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap; /* Allow the tags to wrap to the next line */
}

.tag {
    display: inline-block;
    padding: 5px 5px;
    cursor: pointer;
    text-decoration: none;
}

.tag:hover {
    text-decoration: underline; /* Underline on hover */
}


.submit-button {
    margin-top: 10px;
    text-decoration: none;
    color: #000;
}

.content-block {
    margin-bottom: 15px;
    padding: 10px;
    display: flex; /* Use flex to align contents */
    align-items: center; /* Vertically center align items */
}

textarea, input[type="file"] {
    flex: 1; /* Allow text area and input to take available space */
}

/* Additional styles for the button */
.remove-btn {
    margin-left: 10px; /* Add some space between the input and the button */
    background: #333;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

button {
    margin-top: 10px;
}

.tally-column {
    width: 15%; /* Adjust width as needed */
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the tally marks */
    justify-content: left; /* Center content vertically */
}

#tally-container {
    display: flex;
    flex-wrap: wrap; /* Allow flex items to wrap into rows */
    justify-content: center; /* Center items in each row */
}

.tally-link {
    text-decoration: none; /* Remove underline from links */
}

.tally-mark {
    display: inline-block; /* Display tally marks inline */
    cursor: pointer; /* Change cursor to pointer */
    width: 3px; /* Width of the block line */
    height: 30px; /* Height of the block line */
    background-color: #000; /* Color of the tally mark */
    margin: 1.5px; /* Space between tally marks */
}

.blank-space {
    width: 10px;
    height: 20px; /* Adjust the height as needed */
}

.tally-row {
    clear: both;  /* CSS property to ensure the row breaks correctly */
}
